<html>
    <head>
        <meta charset="utf-8" />
        <title>Login page</title>
        <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootsrtap.min.css"
        integrity="sha384-1q8mTHOASx8jlAu+a5WDVnPi2lkFfwwEAa8hDDdjZlpLEgxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
            <h1>Log in</h1>    
            </div>
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Please log in to use communicator</h3>
            </div>
            <div class="panel-body">
                <p>Choose sign in method</p>
                <ul>
                    <li>
                        <a href="/auth/login/facebook">Facebook</a>
                        </li>
                        <li> 
                            <a href="/auth/login/github">Github</a>
                        </li>
                        <li>
                            <a href="/auth/login/google">Google</a>
                        </li>
                </ul>
            </div>
            </div>
            </div>
    </body>





</html>